<header class="jumbotron">
    <h1 align="center">
        Welcome To TodoList-2023
    </h1>
</header>

    <article>
        <section style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident officia qui aperiam enim harum facilis quia officiis dignissimos numquam? Repellat dolores quibusdam iure minus corporis iste vel commodi dolore? Ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est adipisci, assumenda sint quibusdam expedita beatae voluptatibus mollitia sunt, velit non alias fugiat dolores, quo facere. Impedit laudantium atque aliquid libero.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla atque, reiciendis ullam eaque eum maiores quis fuga molestiae repellendus. Maxime culpa reprehenderit perspiciatis placeat aliquid consequuntur tempora laudantium assumenda recusandae.

        </section>

        <section style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident officia qui aperiam enim harum facilis quia officiis dignissimos numquam? Repellat dolores quibusdam iure minus corporis iste vel commodi dolore? Ipsum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est adipisci, assumenda sint quibusdam expedita beatae voluptatibus mollitia sunt, velit non alias fugiat dolores, quo facere. Impedit laudantium atque aliquid libero.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla atque, reiciendis ullam eaque eum maiores quis fuga molestiae repellendus. Maxime culpa reprehenderit perspiciatis placeat aliquid consequuntur tempora laudantium assumenda recusandae.

        </section>
    </article>